<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <ion-avatar>
        <img class="navbarImage" [src]="otherContact.PngPath">
      </ion-avatar>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="backButton" defaultHref="" routerLink="../../"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button class="backButton" style="visibility: hidden;"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-card-header>
      <h5>Matchede 11/04</h5>
    </ion-card-header>
  </ion-item>

  <ion-list lines="full" class="message-list">
    <ion-item *ngFor="let message of messages" class="message-item">
      <div *ngIf="message.SenderContactId === otherContact.ContactId; else elseBlock" class="message-bubble other">
        <ion-text class="message-text">
          {{message.Message}}
        </ion-text>
        <ion-label class="date-time">{{message.DateTime | date}}</ion-label>
      </div>
      <ng-template #elseBlock>
        <div class="message-bubble me">
          <ion-text class="message-text">
            {{message.Message}}
          </ion-text>
          <ion-label class="date-time">{{message.DateTime | date}}</ion-label>
        </div>
      </ng-template>
    </ion-item>
  </ion-list>

  <ion-card class="typingBox">
    <ion-input class="typingInput" icon-only type="text" [(ngModel)]="messageToSend"
      [placeholder]="['Sig hej til ' + otherContact.Name]">
    </ion-input>
    <ion-button (click)="sendMessage()"><ion-icon slot="end" class="sendBtn" (click)="sendMessage()"
        name="send-outline"></ion-icon></ion-button>
  </ion-card>
</ion-content>