<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">chat</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <h5 class="matchedDate">Matchede 11/04</h5>
  <ion-item>
    <ion-card-header>
      <ion-avatar>
      <img class="profileImage" [src]="otherContact.PngPath">
     </ion-avatar>
    </ion-card-header>
  </ion-item>

  <ion-list lines="full">
    <ion-item *ngFor="let message of messages">
      <ion-card>
      </ion-card>
        <ion-label>{{message.DateTime | date}}</ion-label>
      <div *ngIf="message.SenderContactId === otherContact.ContactId; else elseBlock">
        <ion-text>
          {{message.Message}} other
        </ion-text>
      </div>
      <ng-template #elseBlock>
        <ion-text>
         {{message.Message}} me
        </ion-text>
      </ng-template>
      
    </ion-item>
  </ion-list>

  <ion-card class="typingBox">
    <ion-input class="typingInput" icon-only type="text" [(ngModel)]="messageToSend" [placeholder]="['Sig hej til ' + otherContact.Name]"><ion-icon class="sendBtn" (click)="sendMessage()" name="send-outline"></ion-icon>
  </ion-input>
  <ion-button (click)="sendMessage()"><ion-icon slot="end" class="sendBtn" (click)="sendMessage()" name="send-outline"></ion-icon>send</ion-button>
  </ion-card>
  
</ion-content>
