<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="backButton" routerLink="../../"></ion-back-button>
    </ion-buttons>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">chat</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-item>
    <ion-card-header>
      <ion-avatar>
      <img class="profileImage" [src]="otherContact.PngPath">
      <h5 class="matchedDate">Matchede 11/04</h5>
    </ion-avatar>
    </ion-card-header>
  </ion-item>

  <ion-list lines="full" class="message-list">
    <ion-item *ngFor="let message of messages" class="message-item">
      <ion-card>
      </ion-card>
      <div *ngIf="message.SenderContactId === otherContact.ContactId; else elseBlock" class="message-bubble other">
        <ion-text class="message-text">
          {{message.Message}}
        </ion-text>
        <ion-label class="date-time">{{message.DateTime | date}}</ion-label>
      </div>
      <ng-template #elseBlock>
        <div class="message-bubble me">
          <ion-text class="message-text">
            {{message.Message}}
          </ion-text>
          <ion-label class="date-time">{{message.DateTime | date}}</ion-label>
        </div>
      </ng-template>
      <div *ngIf="message.SenderContactId === otherContact.ContactId; else elsePic">
        <img class="profile-image other-profile" [src]="otherContact.PngPath">
      </div>
      <ng-template #elsePic>
        <img class="profile-image me-profile" [src]="loggedInPerson.PngPath">
      </ng-template>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer class="footerTypingBar bottombar">
  <ion-buttons slot="start">
    <ion-icon class="specialIcon" size="large" name="earth-outline"></ion-icon>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-card class="typingBox">
      <ion-input class="typingInput" icon-only type="text" [(ngModel)]="messageToSend" [placeholder]="['Sig hej til ' + otherContact.Name]">
      </ion-input>
      <ion-button (click)="sendMessage()"><ion-icon slot="end" size="large" class="sendBtn" (click)="sendMessage()" name="send-outline"></ion-icon></ion-button>
    </ion-card>
  </ion-buttons>
</ion-footer>
