ion-icon {
  cursor: pointer;
}

ion-content {
  --background: #EFE8DE;
}

.profileImage {
  width: 50px;
  height: 50px;
}

.matchedDate {
  color: #2F4858;
  transform: translate(192px, 0);
  font-weight: 600;
  margin: -37px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 15px;
}

.typingBox {
  display: flex;
  align-items: center;
  background-color: #ECE5DD;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border: 3px solid #2f4858;
}

.typingBox .typingInput {
  flex-grow: 1;
}

.sendBtn {
  color: #2F4858;
  font-size: 24px;
  margin-right: 10px;
}

.button-solid {
  --background: #ECE5DD;
  --box-shadow: none;

  .typingBox ion-button {
    margin-left: 20px;
  }
}

ion-item {
  --background: #EFE8DE;
  --color: #2F4858;
  --border-width: 0 !important;
}

ion-list {
  padding: 0px;
}

.other-profile {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.me-profile {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.message-list {
  ion-item.message-item {
    div.message-bubble {
      display: flex;
      align-items: center;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      max-width: 80%;
      padding: 0.8rem;
      border-radius: 1.2rem;
      box-shadow: 0px 3px 6px #00000029;

      &.other {
        margin-left: 24px;
        background-color: #E8F1FF;
      }

      &.me {
        margin-left: 244px;
        background-color: #DCF8C6;
      }

      ion-label.date-time {
        font-size: 0.8rem;
        color: #9B9B9B;
        margin-left: 0.5rem;
        margin-top: 2rem;
      }

      ion-text.message-text {
        font-size: 0.9rem;
        color: #444444;
        margin-top: -31px;
        margin-right: 0.5rem;
      }
    }
  }
}

.backButton{
  color:white;
  scale: 1.5;
}