<ion-content [fullscreen]="true">
  <ion-grid>
    
    <form class="centered-div" [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-row>
        <ion-col class="chips-row" size="12">
          <img src="../../assets/images/logo.png" style="max-width: 55%; margin-bottom: 3rem;">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="chips-row" size="12">
        <ion-card-title>Telefon Nummer</ion-card-title>
      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="chips-row" size="12">
        <ion-card class="typingBox">
          <ion-input class="typingInput" inputmode="numeric" type="number" [(ngModel)]="telephone" formControlName="Telephone"
            [placeholder]="[loggedInPerson?.Telephone]"></ion-input>
        </ion-card>
      </ion-col>
      </ion-row>
      <ion-col class="chips-row" size="12"><ion-button type="submit" class="centered-div-bottom"><ion-icon
            name="log-in-outline"></ion-icon></ion-button></ion-col>
    </form>
  </ion-grid>
</ion-content>