ion-tab-bar {
    background: rgb(119,215,178);
    background: linear-gradient(120deg, rgba(119,215,178,1) 0%, rgba(96,186,207,1) 100%);
}

/*ion-tab-bar {
    background: rgb(109,203,190);
    background: linear-gradient(120deg, rgba(109,203,190,1) 0%, rgba(128,229,163,1) 100%);
}*/

ion-tab-button {
    background: transparent;
    color: #2F4858;
}