ion-item{
    // make seperation line thicker
}

.profileImage{
    width: 50px;
    height: 50px;
}

.hours{
    margin: 0px;
    //transform: translate(150px,0); //hacks
}

.background{
    --ion-background-color:#EFE8DE;
}

.contact{
    --highlight-height: 20px;
}

.nameAndMessage{
    transform: translate(0,-5px);
}