<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full">
    <ion-item class="contact" *ngFor="let contact of getMyContacts()" [routerLink]="['chat/', contact.ContactId]">
      <ion-card-header>
        <ion-avatar>
          <img class="profileImage" [src]="contact.PngPath">
         </ion-avatar>
      </ion-card-header>
      <div class="nameAndMessage">
        <ion-card-title> {{ contact.Name }}</ion-card-title>
        <ion-card-subtitle>{{ contact.LatestMessage }}</ion-card-subtitle>
      </div>
      <ion-label slot="end" class="hours">{{ contact.DateTime | date}}</ion-label>
      
    </ion-item>
  </ion-list>
</ion-content>
