<div id="container">
  <ion-icon id="yes" name="checkmark"></ion-icon>
  <ion-icon id="no" name="remove"></ion-icon>
  <ion-card *ngFor="let p of contacts; let i = index " class="profileCard" style.z-index="-{{i}}" id="{{p.ContactId}}">
    <img src="{{p.PngPath}}" class="profilePicture">
    <ion-card-header>
      <ion-card-title>
        {{p.Name}}, {{p.Age}}
      </ion-card-title>
    </ion-card-header>
    <ion-chip *ngFor="let c of getChips(p.Chips)" [outline]="true" class="{{c.Type}}">{{c.Name}}</ion-chip>
  </ion-card>
</div>
